*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;   
    overflow: hidden;
}
.titulo{
    color: cadetblue;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
    width: 100%;
    height: 600px;
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE000, hsla(76, 86%, 34%, 0.63), hsla(203, 100%, 21%, 0.541)),url(../img/Tellevoic.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE000, hsla(76, 86%, 34%, 0.63), hsla(203, 100%, 21%, 0.541)),url(../img/Tellevoic.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    font-size: 20px;
    color:white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover {
    text-decoration: underline;
}
header .textos-header{
    font-size: 40px;
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: #fff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.olita{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.contenedor-2{
    display: flex;
    justify-content: space-evenly;
}
.imagen-auto{
    width: 500px;
    height: 500px;
}
.contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #4d0686;
    color:  #fff;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 8px;
}
.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.imagen-qr{
    margin-left: 50px;
    width: 500px;
    height: 450px;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid gray; 
}

.content-foo{
    text-align: center;

}
.content-foo h4{
    color: white;
    border-bottom: 3px solid yellow;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: gray;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0;
    color: #9e9797
}
.button {
    visibility: hidden;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1 {
    margin-left: 35%;
    visibility: hidden;
    background-color: cadetblue; 
    color: black; 
    border: 2px solid #4CAF50;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenido-textos{
        width: 90%;
    }

    .imagen-qr{
        visibility: hidden;
        margin: auto;
        width: 400px;
        height: 350px;
    }
    .button{
        margin-left: 55px;
        visibility: visible;
    }
}